<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
  <div>
    <div>
      <nav th:replace="~{layout :: page_navbar}"></nav>
    </div>
    <main>
      <section>
        <div class="formularz bg-color-white box-shadow">
          <h2 class="text-center">Zmiana hasła</h2>
          <form th:action="@{/change-password}" method="post" th:object="${changePasswordDTO}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="margin-auto width-max-content">
              <label for="currentPassword">Aktualne hasło:</label>
              <br>
              <input type="password" id="currentPassword" th:field="*{currentPassword}" class="input-text"/>
              <p th:if="${#fields.hasErrors('currentPassword')}"
                 th:errorclass="text-danger"
                 th:errors="${changePasswordDTO.currentPassword}">
              </p>
            </div>
            <div class="margin-auto width-max-content relative">
              <label for="newPassword">Nowe hasło:</label>
              <br>
              <input type="password" id="newPassword" th:field="*{newPassword}" class="password input-text"/>
              <div class="width-max-content bg-color-light-red padding pass-box box-shadow">
                <h4 class="text-center">Hasło musi zawierać:</h4>
                <ul>
                  <li>Co najmniej 16 znakow</li>
                  <li>Co najmniej jedną dużą literę</li>
                  <li>Co najmniej jedną małą literę</li>
                  <li>Co najmniej jedną cyfrę</li>
                  <li>Co najmniej jeden znak specjalny</li>
                </ul>
              </div>
              <p th:if="${#fields.hasErrors('newPassword')}"
                 th:errorclass="text-danger"
                 th:errors="${changePasswordDTO.newPassword}">
              </p>
            </div>
            <div class="margin-auto width-max-content">
              <label for="confirmPassword">Ponownie nowe hasło:</label>
              <br>
              <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="input-text" />
              <p th:if="${#fields.hasErrors('confirmPassword')}"
                 th:errorclass="text-danger"
                 th:errors="${changePasswordDTO.confirmPassword}">
              </p>
            </div>
            <div class="margin-auto width-max-content">
              <button class="text-center translate-y" type="submit">Zmień hasło</button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </div>
</body>
</html>