<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
</head>
<body>
    <div>
      <div>
        <nav th:replace="~{layout :: page_navbar}"></nav>
      </div>
      <main>
        <div>
          <h1 class="text-center">Edytuj dane</h1>
          <div class="formularz bg-color-white box-shadow">
            <form th:object="${profilDTO}" method="post" th:action="@{/edit-user}">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <div>
                <label for="firstName">Imię</label>
                <br>
                <input class="input-text" type="text" id="firstName" th:field="${profilDTO.firstName}">
                <p th:if="${#fields.hasErrors('firstName')}"
                   th:errorclass="text-danger"
                   th:errors="${profilDTO.firstName}">
                </p>
              </div>
              <div>
                <label for="lastName">Nazwisko</label>
                <br>
                <input class="input-text" type="text" id="lastName" th:field="${profilDTO.lastName}">
                <p th:if="${#fields.hasErrors('lastName')}"
                   th:errorclass="text-danger"
                   th:errors="${profilDTO.lastName}">
                </p>
              </div>
              <div>
                <button type="submit" class="text-center translate-y">Zapisz</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
</body>
</html>