<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:fragment="page_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja webowa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <nav th:fragment="page_navbar" class="nav-bar width-max">
            <div class="translate-y">
                <a href="/home" class="navbar-element text-black">Strona główna</a>
            </div>
            <div class="navbar-element relative dropdown">
                <div class="padding-3 text-center padding-4">
                    <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                </div>
                <div class="dropdown-content text-black">
                    <a href="/my-account" class="text-black">Moje konto</a>
                    <form th:action="@{/perform_logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div>
                            <button type="submit" class="transparent-button bg-color-white text-black">Wyloguj się</button>
                        </div>
                    </form>
                </div>
            </div>
    </nav>
</body>
</html>