<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div>
        <div th:if="${message}" class="bg-color-light-red padding text-center">
            <p class="text-medium"><strong>Konto zostało usunięte!</strong></p>
        </div>
        <div th:if="${param.logout}" class="bg-color-light-red padding text-center">
            <p class="text-medium"><strong>Wylogowano się z konta</strong></p>
        </div>
        <main>
            <section>
                <h1 class="text-center">Logowanie</h1>
                <div class="formularz bg-color-white box-shadow">
                    <div class="margin-auto width-max-content">
                        <form th:action="@{/perform_login}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div class="margin-auto width-max-content">
                                <label for="email">Email</label>
                                <br>
                                <input type="email" name="email" id="email" class="input-text">
                            </div>
                            <div class="margin-auto width-max-content relative">
                                <label for="password">Hasło</label>
                                <br>
                                <input type="password" name="password" id="password" class="input-text margin-bottom-0">
                                <div>
                                    <input type="checkbox" name="remember-me" id="remember-me" class="width-max-content margin-top-1"/>
                                    <label for="remember-me" class="text-small">Zapamiętaj mnie</label>
                                </div>
                            </div>
                            <div th:if="${param.error}" class="bg-color-light-red margin-auto width-max-content padding margin-top-2 border-black border-radius-20">
                                <p class="text-center text-medium"><strong>Niepoprawny adres email lub hasło</strong></p>
                            </div>
                            <div class="text-center margin-top-2">
                                <button class="text-center translate-y" type="submit">Zaloguj</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="margin-auto width-25 margin-top-2 bg-color-white box-shadow">
                    <div class="padding-2 text-center">
                        <h3 class="text-medium margin-top-0 text-orange">Nie masz jeszcze konta?</h3>
                        <div class="translate-y">
                            <a href="/sign-up" class="text-xl text-center text-black text-blue"><strong>Zarejestruj się już teraz!</strong></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>